<div class="contenedor">
    <div class="izquierdo"></div> <!-- Mantiene el espacio a la izquierda -->
    
    <div class="centro">
      <input type="text" placeholder="Buscar..." />
      <span class="lupa">🔍</span>
    </div>
  
    <div class="derecho">
      <div class="icono">
        <img src="assets/iconos/alert.svg" class="icono" alt="Notificaciones">
      </div>
      <div class="icono">
        <img src="assets/iconos/tool.svg" class="icono" alt="Notificaciones">

      </div>
 
      <div class="icono"></div>
    </div>
  </div>
  